* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Russo One";
}

body {
  background-color: #263556;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.left {
  width: 45%;
  height: 100%;
}

.left .bg {
  background-image: url(img/bg-left.png);
  height: 100%;
  background-size: cover;
  background-position: right;
  position: relative;
}

.left .bg img {
  position: absolute;
  top: 15%;
  right: 33%;
}

.right {
  width: 55%;
  height: 100%;
}
